<h1><%=problem.title%></h1>
<p><%=problem.statement%></p>
<br>
<p><%=problem.difficulty%></p>
<p><strong>Tags</strong></p>
<%problem.tags.forEach(function(x){%>
    <p><%=x%></p>
<%})%>
<br><br>
<%if(!User){%>
    <a href="/login">Login</a>
<%}else if(User.role==='user'){%>
    <form action="/problems/<%=problem._id%>" method="POST">
        <textarea name="code" id="" cols="30" rows="10" placeholder="Code"></textarea>
        <label>Choose Language</label>
        <select name="lang">
            <option value="cpp">C++</option>
            <option value="c">C</option>
            <option value="python">Python</option>
            <option value="java">Java</option>
        </select>
        <button>Submit</button>
    </form>
<%}else{%>
    <a href='/problems/<%=problem._id%>/edit'>Edit Problem</a>
<%}%>
<br>
<a href="/problems/<%=problem._id%>/submissions">Submissions of this problem</a>
<br><br>
<a href="/">Home</a>
<a href="/ide">IDE</a>
<a href="/problems">Problems</a>
<a href="/problems/new">New Problems</a>
<a href="/problems/<%=problem._id%>/edit">Add tests to this problem</a>
<a href="/submissions">Current submissions</a>
<a href="/messages">Messages</a>
<a href="/messages/1">My Messages</a>
