<p><%=sub._id%></p>
<p>Problem : <%=sub.problem_name%></p>
<p><a href="/problems/<%=sub.problem_id%>">Problem Link</a></p>
<p><%=sub.verdict%></p>
<p><%=sub.content%></p>
<p>Submitted by : <strong><%=sub.user%></strong></p>

<br><br>
<a href="/">Home</a>
<a href="/ide">IDE</a>
<a href="/problems">Problems</a>
<a href="/problems/new">New Problems</a>
<a href="/submissions">Current submissions</a>
<a href="/messages">Messages</a>
